<div class="jumbotron">
	<h1><%= icon('cutlery') %> Your Recipes</h1>
	<p>Everything in one place everywhere.</p>
</div>
<div class="row">
	<div class="col-md-4 col-sm-6" id="Main">
		<%= link_to "Main Dish Recipes", controller: "recipes", action: "course", course: "Main" %>
	</div>
	<div class="col-md-4 col-sm-6" id="Appetizer">
		<%= link_to "Appetizer Recipes", controller: "recipes", action: "course", course: "Appetizer" %>
	</div>
	<div class="col-md-4 col-sm-6" id="Side">
		<%= link_to "Side Dish Recipes", controller: "recipes", action: "course", course: "Side" %>
	</div>
	<div class="col-md-4 col-sm-6" id="Dessert">
		<span class="glyphicon glyphicon-ice-lolly"></span><%= link_to " Dessert Recipes", controller: "recipes", action: "course", course: "Dessert" %>
	</div>
	<div class="col-md-4 col-sm-6" id="Sauce">
		<%= link_to "Sauce Recipes", controller: "recipes", action: "course", course: "Sauce" %>
	</div>
	<div class="col-md-4 col-sm-6" id="Component">
		<%= link_to "Component Recipes", controller: "recipes", action: "course", course: "Component" %>
	</div>
</div>