<h1>New Recipe Entry</h1>
<%= form_for :recipe, url: recipes_path do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :course %>
	<%= f.text_field :course %>

	<%= f.submit %>

<% end %>