<h1>New User Entry Form</h1>
<%= form_for(@user) do |f| %>
	<%= f.text_field :first_name, :placeholder => "First Name", class: "form-control" %>
	<%= f.text_field :last_name, :placeholder => "Last Name", class: "form-control" %>
	<%= f.email_field :email, :placeholder => "email address", class: "form-control" %>
	<%= f.password_field :password, :placeholder => "Enter password", autocomplete: "off", class: "form-control" %>
	<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>